---
- name: Configure Control Plane Instance
  hosts: all
  become: yes
  tasks:
    - name: Update all packages
      yum:
        name: '*'
        state: latest

    - name: Install Docker
      yum:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add ec2-user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    - name: Install python3-pip
      yum:
        name: python3-pip
        state: present

    - name: Install docker python library
      yum:
        name: python3-docker
        state: present

    - name: Log into Docker Hub
      community.docker.docker_login:
        username: "{{ docker_username }}"
        password: "{{ docker_password }}"
        reauthorize: yes

    - name: Install git
      yum:
        name: git
        state: present

    - name: Clone Todo Releaser Repository
      git:
        repo: "https://{{ github_token }}@github.com/velann21/todo-releaser.git"
        dest: /home/ec2-user/todo-releaser
        version: master
        force: yes

    - name: Configure Git User
      command: git config user.email "releaser@bot.com"
      args:
        chdir: /home/ec2-user/todo-releaser

    - name: Configure Git Name
      command: git config user.name "Releaser Bot"
      args:
        chdir: /home/ec2-user/todo-releaser

    - name: Run Releaser Container
      community.docker.docker_container:
        name: "todo-releaser"
        image: "{{ releaser_image }}:{{ releaser_version }}"
        state: started
        restart_policy: always
        volumes:
          - "/home/ec2-user/todo-releaser:/app"
